@model Academy_MyPortfolio_MVC.Models.TblAdmin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<br />
<h2 style="padding-left:20px">Profil Bilgileri Güncelleme Sayfası</h2>
<br />

<form method="post" enctype="multipart/form-data">

    <div>
        <label style="padding-left:10px"><strong>Kullanılan Profil Resmi </strong></label>
        <br />
        <div class="text-center">
            <img src="@Model.ImageUrl" style="width:75px;height:100px" alt="Profil Resmi" />

        </div>
    </div>
    <br />

    <label style="padding-left:10px"><strong>Yeni Profil Resmi Yükleyin </strong></label>
    <div class="text-center">
        <input type="file" name="ImageFile" />
    </div>

    <br />
    <label style="padding-left:10px"><strong>Ad</strong></label>
    <input type="text" name="Name" class="form-control" value="@Model.Name"  />
    <br />

    <label style="padding-left:10px"><strong>Soyad </strong></label>
    <input type="text" name="Surname" class="form-control" value="@Model.Surname" />
    <br />

    <label style="padding-left:10px"><strong>Email </strong></label>
    <input type="text" name="Email" class="form-control" value="@Model.Email" />
    <br />

    <label style="padding-left:10px"><strong>Şifreyi Girin </strong></label>
    <input type="password" name="Password" class="form-control" />
    <br />

    @*<p style="color:red">@Html.ValidationSummary()</p>*@

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Uyarı!</strong>@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }

    <div class="text-center">
        <button class="btn btn-success">Bilgileri Güncelle</button>
    </div>
    <br />
</form>

